/*********公共样式*************/
body,p,h1,h2,h3,h4,h5,h6,dl,dd,form{margin:0;font-weight:normal;-webkit-tap-highlight-color:rgba(0,0,0,0.1);}
body {-webkit-text-size-adjust:none;background: #fff;font-size:14px; min-width: 320px;font-family: "微软雅黑",Verdana, Arial,Helvetica,sans-serif;color:#999;}
ul,ol,input{list-style:none; margin:0; padding:0;}
em,i {font-style:normal;}
img {border:none;max-width: 100%;display: inherit}
html{-webkit-text-size-adjust:none;}
p {word-break:break-all}
:focus,input{outline:none;}
.clearfix:after {content:".";visibility:hidden;display:block;clear:both;height:0;}
.clearfix {*zoom:1;}
.clear {clear:both;}
.fl {float:left;}
.fr {float:right;}
.fb {font-weight:bold;}
.tl {text-align:left;}
.tc {text-align:center;}
.tr {text-align:right;}
.rela {position:relative;}
.abso {position:absolute;}
.blo {display: block;}
.in-bl {display: inline;}
.none {display:none;}
.cgray {color:#4c4c4c;}
.c999 {color:#999;}
.cred,.cred a {color:#ed6c00;}
.cwhite {color:#fff;}
.c666 {color:#666;}
.c777 {color:#777;}
.c4c {color:#4c4c4c;}
.f16 {font-size:14px;}
.f16 {font-size:16px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f22 {font-size:22px;}
.f24 {font-size:24px;}
.f28 {font-size:28px;}
.f30 {font-size:30px;}
.f36 {font-size:36px;}
.f40 {font-size:40px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mr20 {margin-right:20px;}
.mt30 {margin-top:30px;}
.ellipsis {overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.hide {position: absolute;top:-999em;overflow: hidden;}
.line {background: url(../images/line.png) repeat-x left top;height:2px;overflow: hidden;font-size: 0;}
a {text-decoration: none;color:#ed6c00;}
.lth {text-decoration: line-through;}

.prev,.ico_buy,.ico_list,.ico_cate,.decrement,.increment,.btn_close,.ico_ok,.home,.chk,.ico_cart,.ico_btmHome,.ico_menu,.ico_member,.ico_arrow,.ico_success {background:url(../images/sprit.png) no-repeat;}

.wrap {width:100%;min-width:320px;margin:0 auto;max-width: 640px;background:#f5f5f5;padding-bottom:60px;}
.con {padding:10px;}

.top {background:#ed6c00;height:50px;line-height:50px;}
.topTit {height:50px;}
.home {display: block;width:50px;height:50px;background-position:-118px 0px;text-indent: -999em;background-size: 230px;z-index:2;}
.editBtn {background:#fff;border-radius:5px;height:35px;line-height: 35px;margin:8px 8px 0 0;padding:0 20px;text-align: center;color:#ed6c00;right:0;font-size:16px;}

.footer {position: fixed;height:49px;bottom:0;box-shadow: 0px -1px 5px rgba(50,50,50,0.2);border-top:1px #ccc solid;background:#fff;max-width:640px;width:100%;z-index: 9}
.prev {border-right:1px #ccc solid;width:44px;height:49px;background-position:-4px 2px;display: block;background-size:212px;}
.footer_right {padding:7px 0 0 45px;text-align:center;}

.btn {border-radius:5px;display:inline-block;background:#ed6c00;color:#fff;font-size:16px;height: 35px;line-height: 35px;width:45%;text-align: center;border:0;cursor:pointer;}
.btnDisable {background:#ccc;}
.btn_orange {background-color:#ed4e00;}
.btn_green {background-color:#06bf04;}
.btn_gray {background-color:#b0b0b0;}
.btn_disable {background-color:#ccc;color:#fff;}
.cart {z-index:990;background:url(../images/car.png) no-repeat 0 0;width:60px;height:60px;position: fixed;bottom:-60px;right:10px;display:block;background-size: 60px;}
.cart i {display: block;width:8px;height:8px;background:#f20000;border:2px #fff solid;box-shadow: 0px 1px 1px rgba(0,0,0,0.75);border-radius:8px;float:right;margin-top:15px;margin-right:10px;}
.ico_buy,.ico_list,.ico_ok,.ico_cate,.ico_cart,.ico_btmHome,.ico_menu,.ico_member,.ico_arrow {width:16px;display:inline-block;height:17px;background-position:0 -48px;vertical-align:-3px;background-size: 190px;margin-right:3px;}
.ico_list {background-position:-19px -48px;}
.ico_ok {background-position: -130px -48px;}
.ico_cate {background-position: -39px -48px;}
.ico_cart {background-position: -86px -48px;}
.ico_menu {background-position: -108px -48px;}
.ico_arrow {background-position: -225px -80px;width:24px;height:12px;background-size: 280px;bottom:-11px;left:50%;margin-left:-12px;}
.ico_member {background-position: -64px -47px;}
.ico_btmHome {border-right:1px #ccc solid;height:49px;display: block;}

.ico_btmHome {width:49px;background-position:-55px 2px;background-size:212px;}
.ico_success {margin:0 auto 10px;display: block;width:30px;height:30px;background-position:-62px -87px;text-indent: -999em;background-size: 230px;}
.increment,.decrement {display: block;width:28px;height:28px;line-height:28px;text-indent: -999em;background-size:201px; }
.decrement {background-position: -115px -74px;}
.increment {background-position: -88px -74px;}
.proNum {background:#fff;width:54px;height:27px;line-height:27px;text-align: center;font-size:18px;font-family: Arial;}
.grayBg {background-color: #f5f5f5;}
.loginItem {padding:20px;}
.loginItem li {margin-bottom:20px;}
.loginItem input.txt {width:97%;border:2px #ccc solid;padding:10px 0 10px 10px;border-radius:5px;}
.loginItem .btn {border:none;}
.con {padding:20px;}
p.indent {text-indent:2em;line-height: 1.5em;}
p.about {line-height: 1.5em;}
@media screen and (max-width:480px){
	.f36 {font-size:27px;}
	.logo {width:185px;}
	.f24 {font-size:18px;}
}

@media screen and (max-width:320px){
	.f36 {font-size:18px;}
	.logo {width:124px;}
	.f24 {font-size:12px;}
}

