.pro_list {height:74px;padding:10px 10px;background:#f5f5f5 url(../images/line.png) repeat-x left bottom;}
.pro_list a {color:#999;}
.pro_list .chk {margin-top:20px;}
.product {padding-left:40px;}
.product .imgwrap {width:70px;height:70px;margin-right:10px;border:2px #fff solid;overflow:hidden;}
.product .imgwrap img {height:70px;max-width: none;}
.product li {line-height: 150%}
.noPro {background:url(../images/cart.png) no-repeat center 20%;padding:150px 0 10px;background-size: 120px;}
.noPro p {padding:20px 0;}
.chk {-webkit-appearance:none;width:30px;height:30px;border:none;background-position: -32px -88px;background-size: 231px;}
.chk:checked {background-position:-64px -88px;}
.editMod .chk:checked {background-position:0 -88px;}
.checkall {margin-top:10px;}
.checkall .chk {margin:0 10px 0 10px;vertical-align:-10px;}
.cartfooter {height:auto;min-height: 50px}
.cartfooter .btn {width:auto;padding:0 20px;margin:8px 8px 0 0;}
.orderinfo .product {padding-left:0px;}
.orderinfo .pro_list {background-color: #fff;}
.orderinfo .topTit {padding-left:0;}
.totalPrice {background:#fff;color:#4c4c4c;padding:10px;}
.address {padding:10px;margin-top:40px;background:url(../images/line.png) repeat-x left top,url(../images/line.png) repeat-x left bottom;background-color:#fff;}
.address dt {color:#4c4c4c;margin-bottom:10px;}
.prices {padding: 10px;background:url(../images/line.png) repeat-x left top,url(../images/line.png) repeat-x left bottom;background-color:#fff;margin-top:40px;color:#4c4c4c;}
.increment,.decrement {display: block;width:24px;height:24px;line-height:24px;text-indent: -999em;background-size:180px;}
.decrement {background-position: -104px -66px;}
.increment {background-position: -78px -66px;}
.proNum {background:#fff;width:34px;height:22px;line-height:22px;text-align: center;font-size:14px;font-family: Arial;border:1px #c0c0c0 solid;border-width:1px 0;}
.wrap {background:#fff;}
.grayBg {background-color: #f5f5f5;}
.successFooter .btn {width:95%;margin-top:8px;}
.suc_order_info {padding:10px;}
.suc_order_info li{margin-bottom:10px;}
.suc_order_info label {text-align: right;display:inline-block;width:80px;color:#4c4c4c;position:absolute;}
.suc_order_info p {padding-left:80px;}
.tips {padding:20px 0;background:#fff url(../images/line.png) repeat-x left bottom;}
.addressList {background: #fff;}
.addressList li {border-bottom:1px #cacaca solid;padding:10px 10px;}
.addressList li label {display: inline-block;width:14%;padding-right:20px;text-align:right;color:#4c4c4c;font-size:16px;float:left;margin-top:4px;}
.addressList li:last-child {border:none;}
.addressList li .txt,.addressList li .areatxt {border:0;width:76%;font-size:16px;font-family: "微软雅黑"}
.addressList li .txt {padding:5px 0;}
.addressList li .areatxt {height:60px;resize: none;margin-top:2px;}
.addressFooter {text-align: right}
.addressFooter .btn {width: auto;padding: 0 20px;margin: 0px 8px 0 0;}
@media screen and (max-width:380px){
	.wrap {padding-bottom:80px;}
	.dcartfooter {padding-bottom:10px;}
	.cartfooter #balanceBtn {clear:both;width:50%;padding:0 20px;margin:0 auto 10px auto;display:block;}
}
