body,html {min-height: 100%;}
.wrap {background: #999;padding-bottom:0;}
.main {overflow:hidden;}
.nav {float: left;width:20%;background:#333;padding-bottom: 32767px;
 margin-bottom: -32767px; }
.nav li {color:#fff;text-align: center;padding:15px 0;font-size:16px;}
.nav li.on {background:#999;}
.list_wrap {width:78%;float:left;padding-bottom: 32767px;
 margin-bottom: -32767px; }
.list_pro dt {border-bottom: 1px #ccc solid;font-size:18px;text-align: center;color:#fff;margin-left:11px;padding:10px 0;margin-bottom:20px;}
.list_pro dd {float:left;border-radius:35px;width:70px;height:70px;background:#f2f2f2;line-height: 70px;text-align: center;margin:0 0px 10px 12px;font-size:14px;}
.list_pro dd a {color:#666;}