.slider {overflow:hidden;}
.slider .imgs li{position:relative;display:block;width:100%;float:left;max-height: 200px;overflow:hidden;}
.num {position:absolute;bottom:20px;left:45%;}
.num li {float:left;width:10px;height:10px;background:#fff;text-indent: -999em;overflow: hidden;margin-left:5px;}
.num li.on {background:#ff5400;}
.pro_name {font-size:16px;}
.priceStep {background:url(../images/bg_price.png) no-repeat center 35px;margin-top:15px;height:65px;background-size: 100%;}
.priceStep li {float:left;width:33.3%;text-align:center;line-height: 37px;}
.priceStep .priceBor {background:#fff;border:1px #ed6c00 solid;border-radius:5px;padding:2px 5px;}
.pro_decri li {color:#666;line-height:200%;}
.pro_decri label {display: inline-block;width:70px;text-align: right;color:#999;}
.detail .tit {font-size:16px;color:#4c4c4c;margin-bottom:10px;}
.detail p {margin-bottom: 10px;line-height: 150%}
.detail p img {display:block;margin:0 auto;}
.addToCart {font-size:14px;position: fixed;max-width:640px;width:100%;background-color:#000;background-color:rgba(0,0,0,0.9);left:0;bottom:0;line-height: 150%;overflow:hidden;z-index: 10}
.addToCart li {border-bottom:1px #999 solid;padding:10px;}
.addToCart li .cart_tit {padding-right:45px;}
.cartBtn {width:98%;margin:10px auto;display:block;}
.btn_close {background-position:-136px -5px;width:30px;height:30px;display:block;text-indent: -999em;right:5px;top:6px;background-size: 172px;}
.addSuccess {opacity:0;font-size:14px;position: fixed;max-width: 640px;width:100%;bottom:100px;color:#fff;}
.addSuccess p,.saleTips .tipCon {background-color:rgba(0,0,0,0.8);border-radius: 5px;padding:20px 0;text-align: center;width:80%;margin:0 auto;}
.saleTips {z-index:999;font-size:16px;position: fixed;max-width: 640px;width:100%;top:50%;-webkit-transform:translate3d(0,-50%,0);color:#fff;}
.tipCon .redbtn {display:inline-block;font-size:14px;color:#fff;background:#ed6c00;border-radius:3px;padding:8px 15px;margin-top:10px;min-width:100px;}
.saleInfo {padding-left:70px;}
.saleInfo li {margin-bottom:10px;}
.saleInfo li:last-child {margin-bottom:0;}
.saleInfo .lth {text-decoration: line-through;}
.mask {background-color:rgba(0,0,0,0.2);width:100%;height:100%;position: absolute;z-index: 998;top:0;}
