body {background-color: #f5f5f5}
.con {padding:20px;}
.wrap {padding-bottom:280px;}
.logo {max-width: 100%;}
header {padding:10px 0;}
.swipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div {float: left;position: relative;}
.swipe-wrap > div img {border-radius: 5px;}
.position {left:0;bottom:5px;text-align: center;width:100%;}
.position .swiper-pagination-switch {display:inline-block;width:14px;height:14px;background:#fff;border:1px #ff6600 solid;border-radius:8px;margin-left:5px;}
.position .swiper-active-switch {background:#ff6600;}
.radius {border-radius:10px;}
.tab {display: -webkit-box;display:flex;margin-top:10px;}
.tab li {-webkit-box-flex: 1;width: 100%;text-align: center;}
.ads li {text-align:right;position:relative;padding-left:5px;}
.ads li:first-child {text-align: left;padding-right:5px;padding-left:0;}
.ads li span {background: rgba(255,255,255,0.8);border-radius:10px;position: absolute;right:10px;top:10px;padding:3px 10px;color:#ed781a;font-size:24px;}
.ads li:first-child span {right:15px;}
.title {color:#ed781a;font-size:24px;margin-bottom:10px;}
.cate {border:1px #f26b00 solid;border-radius:5px;}
.cate li {border-right:1px #f26b00 solid;padding:10px 0;}
.cate li a {color:#9a9a9a;}
.cate li.on {background:#f26b00;color:#fff;}
.cate li.on a {color:#fff;}
.cate li:last-child {border:none;}
.fruitCates li {float: left;width:33%;text-align: center;font-size:28px;}
.fruitCates li a {display: block;color:#666;}
.footer {height:100px;}
.footer-menu >li>a {display: block;font-size:24px;color:#999;}
.footer-menu >li>a.on {color:#ff6600;}
.btmMenuWrap {bottom:110px;width:95%;}
.btmMenuWrap .btmMenu {border:1px #ccc solid;border-radius:5px;background:#fff;padding:0 10px;}
.btmMenuWrap .btmMenu li {border-bottom:1px #ccc solid;padding:10px 0;}
.btmMenuWrap .btmMenu li:last-child {border:none;} 
.btmMenuWrap .btmMenu li a {color:#777;line-height: 30px}

.a-home i,.a-user i,.a-more i,.a-buy i {display: block;margin:0 auto;background:url(../images/footer_ico.png) no-repeat 0em 0em;width:54px;height:53px;background-size: 18em}
.a-user i {background-position: -4.5em 0}
.a-buy i {background-position: -9em 0}
.a-more i {background-position: -13.5em 0}
.a-home>a.on i {background-position: -2.25em 0}
.a-user>a.on i {background-position: -6.75em 0}
.a-buy>a.on i {background-position: -11.25em 0}
.a-more>a.on i {background-position: -15.75em 0}
.city {right:10px;top:10px;padding:5px 25px 5px 10px;background:#fff url(../images/down.png) no-repeat 90% center;border-radius:5px;}
.openCity {background:#fff url(../images/up.png) no-repeat 90% center;}
.mask {background-color:rgba(0,0,0,0.2);width:100%;height:100%;position: absolute;z-index: 998;top:0;}
.cityWrap {position: absolute;z-index: 999;width:100%;max-width: 640px;top:50px;}
.cityCon {background:#fff;border-radius: 10px;margin:0 20px;padding-top:10px;}
.cityWrap p {border-bottom:1px #cacaca solid;margin:0 10px;padding-bottom:5px;}
.cityWrap .pointer {background:url(../images/point.png) no-repeat;width:17px;height:25px;display: inline-block;vertical-align: -5px;margin-right:10px;}
.cityList {display: -webkit-box;display:flex;padding:15px 10px;}
.cityList li {-webkit-box-flex: 1;text-align: center;width:100%;}
.cityList li span {border-radius: 10px;border:1px #cacaca solid;padding:5px 0px;width:90%;display: inline-block;}
.cityList li.cur span {border-color:#3eb134;background:#3eb134;color:#fff;}
@media screen and (max-width:480px){
	.ads li span,.title {font-size:18px;}
	.cate li {padding:8px 0;}
	.f40 {font-size:30px;}
	.f24 {font-size:20px;}
	.f22 {font-size:16px;}
	.f28 {font-size:20px;}
	.footer {height:80px;}
	.fruitCates li {font-size:21px;}
	.footer-menu >li>a {font-size:18px;}
	.a-home i,.a-user i,.a-more i,.a-buy i {width:40px;height:40px;}
	.btmMenuWrap .btmMenu li {padding:5px 0;}
	.btmMenuWrap {bottom:90px;}
	.wrap {padding-bottom:220px;}
}
@media screen and (max-width:320px){
	.ads li span,.title {font-size:14px;}
	.cate li {padding:5px 0;}
	.f40 {font-size:20px;}
	.f24 {font-size:14px;}
	.f28 {font-size:16px;}
	.f22 {font-size:12px;}
	.fruitCates li {font-size:14px;}
	.position .swiper-pagination-switch {width:8px;height:8px;background:#fff;border:1px #ff6600 solid;border-radius:7px;margin-left:3px;}
	.position .swiper-active-switch {background:#ff6600;}
	.footer-menu >li>a {font-size:12px;}
	.a-home i,.a-user i,.a-more i,.a-buy i {width:27px;height:27px;}
	.footer {height:56px;}
	.btmMenuWrap .btmMenu li {padding:2px 0;}
	.btmMenuWrap {bottom:70px;width:98%;}
	.btmMenuWrap .btmMenu {padding:0 5px;}
	.btmMenuWrap .btmMenu li a {color:#777;line-height: 24px}
	.wrap {padding-bottom:150px;}
}