.wrap {padding-bottom:190px;}
.top {height:70px;line-height: 70px;}
.goback {background:url(../images/goback.png) no-repeat;width:50px;height:50px;background-size: 2.08em;display: block;text-indent: -999em;top:10px;font-size:24px;}
.goback {background-position: 0em 0em;}
.cate {padding:10px 10px 0 10px;background:#f5f5f5;}
.cate a {font-size:24px;color:#777;border:1px #07a829 solid;border-radius:10px;padding:6px 20px;background:#fff;display: inline-block;}
.cate a.on {background:#07a829;color:#fff;}
.cate p {padding-left:120px;}
.cate p a {margin-bottom:10px;margin-right:10px;}
.imgwrap {display: block;width:160px;height:160px;margin-right:10px;}
.price {padding-top:5px;}
.fruitList {background:#fff;}
.fruitList li {border-top:1px #ccc solid;padding:10px;position:relative;}
.fruitList li .sale_ico {position: absolute;width:50px;height:50px;background: url(../images/sale_ico.png) no-repeat left top;left:0;background-size: cover;} 
.imgwrap img {border-radius:10px;}
a.title {color:#333;}
.btnBuy {background:url(../images/sprit.png?v=1) no-repeat -12.182em -5.955em;background-size: 16.18em;display: block;width:70px;height:50px;text-indent: -999em;margin-right:5px;}
.btnBuyDisable {-webkit-filter: grayscale(1);}
.page {padding:30px 10px;margin-bottom:100px;background:#fff;color:#666;border:1px #ccc solid;border-width:1px 0;}
.page li {width:33%;}
.prevPage,.nextPage {color:#777;border:1px #b6b6b6 solid;padding:15px 25px;border-radius:10px;}
.nextPage {color:#fff;background:#ed6c00;border-color:#ed6c00;}
.pagenum {height:35px;line-height: 35px;}
.tab {display: -webkit-box;display:flex;margin-top:10px;}
.tab li {-webkit-box-flex: 1;width: 100%;text-align: center;}
.footer {height:100px;}
.footer-menu >li>a {display: block;font-size:24px;color:#999;}
.footer-menu >li>a.on {color:#ff6600;}
.btmMenuWrap {bottom:110px;width:95%;}
.btmMenuWrap .btmMenu {border:1px #ccc solid;border-radius:5px;background:#fff;padding:0 10px;}
.btmMenuWrap .btmMenu li {border-bottom:1px #ccc solid;padding:10px 0;}
.btmMenuWrap .btmMenu li:last-child {border:none;} 
.btmMenuWrap .btmMenu li a {color:#777;line-height: 30px}

.a-home i,.a-user i,.a-more i,.a-buy i {display: block;margin:0 auto;background:url(../images/footer_ico.png) no-repeat 0em 0em;width:54px;height:53px;background-size: 18em}
.a-user i {background-position: -4.5em 0}
.a-buy i {background-position: -9em 0}
.a-more i {background-position: -13.5em 0}
.a-home>a.on i {background-position: -2.25em 0}
.a-user>a.on i {background-position: -6.75em 0}
.a-buy>a.on i {background-position: -11.25em 0}
.a-more>a.on i {background-position: -15.75em 0}
.addSuccess {z-index:2;opacity:0;font-size:14px;position: fixed;max-width: 640px;width:100%;bottom:150px;color:#fff;}
.addSuccess p {background-color:rgba(0,0,0,0.8);border-radius: 5px;padding:20px 0;text-align: center;width:80%;margin:0 auto;}
.ubox {background: #fff;padding:20px;margin-top:30px;border-top:1px #cacaca solid;}
.ubox dt {color:#4c4c4c;margin-bottom:10px;}
.historyOrder {color:#999;display: block;border-top:1px #ccc solid;padding:10px 0;background:url(../images/rightarr.png) no-repeat right center;}
.proDetail {border-bottom:1px #ccc solid;}
.proDetail ul {padding:0 0 20px 124px;line-height:1.5em;margin-top:20px;}
.oneLine {border-top:1px #fff solid;}
.sales_tab {display: -webkit-box;display:flex;padding:10px 0;}
.sales_tab li {-webkit-box-flex: 1;width: 100%;text-align: center;border-right:1px #777 solid;}
.sales_tab li:last-child {border:none;}
.sales_tab li.active span {color:#ff500b;border-bottom:2px #ff500b solid;padding-bottom:2px;}
.swiper-container {background:#fff;}
.tag {background:#07a829;color:#fff;padding:0 1px;line-height: 17px;height:17px;display: inline-block;}
.tagOrg {background: #ff500b;}
.tagBlue {background: #0b8fff;}
#salesList dd {line-height: 23px;}
@media screen and (max-width:480px){
	.top {height:52px;line-height: 52px;}
	.goback {font-size:18px;height:38px;height:38px;top:8px;}
	.f36 {font-size:27px;}
	.cate a {font-size:18px;padding:3px 10px}
	.cate p {padding-left:80px;}
	.f22 {font-size:17px;}
	.f40 {font-size:30px;}
	.f30 {font-size:23px;}
	.btnBuy {width:55px;height:40px;}
	.imgwrap {width:120px;height:120px;margin-right:10px;}
	.footer {height:80px;}
	.fruitCates li {width:143px;font-size:21px;height:155px;}
	.footer-menu >li>a {font-size:18px;}
	.a-home i,.a-user i,.a-more i,.a-buy i {width:40px;height:40px;}
	.btmMenuWrap .btmMenu li {padding:5px 0;}
	.btmMenuWrap {bottom:90px;}
	.wrap {padding-bottom:140px;}
	.prevPage,.nextPage {padding:10px 30px;}
	.proDetail img {width:78px;}
	.proDetail ul {padding-left:88px;}
}
@media screen and (max-width:320px){
	.top {height:35px;line-height: 35px;}
	.goback {font-size:12px;height:25px;height:25px;top:5px;}
	.f36 {font-size:18px;}
	.cate a {font-size:12px;padding:2px 10px;border-radius:5px;}
	.cate p {padding-left:60px;}
	.cate p a {margin:0 8px 8px 0;}
	.f22 {font-size:12px;}
	.f40 {font-size:18px;}
	.f30 {font-size:15px;}
	.btnBuy {width:39px;height:28px;}
	.imgwrap {width:80px;height:80px;margin-right:10px;}
	.footer-menu >li>a {font-size:12px;}
	.a-home i,.a-user i,.a-more i,.a-buy i {width:27px;height:27px;}
	.footer {height:56px;}
	.btmMenuWrap .btmMenu li {padding:2px 0;}
	.btmMenuWrap {bottom:70px;width:98%;}
	.btmMenuWrap .btmMenu {padding:0 5px;}
	.btmMenuWrap .btmMenu li a {color:#777;line-height: 24px}
	.wrap {padding-bottom:80px;}
	.page {padding:15px 10px 0; }
	.prevPage,.nextPage {padding:5px 15px;}
	.proDetail img {width:52px;}
	.proDetail ul {padding:0 0 10px 62px;}
	.fruitList li .sale_ico {width:30px;height:30px;}
	.tag {font-size:12px;}
	#salesList .price {padding:0;}
	#salesList dd {line-height: 14px;}
	.btnBuy {margin-top:-10px;}
}