.goback {background:url(../images/goback.png) no-repeat;width:50px;height:50px;background-size: 2.08em;display: block;text-indent: -999em;top:10px;font-size:24px;}
.goback {background-position: 0em 0em;}
.top {height:70px;line-height: 70px;}
.loginItem {padding:65px 80px 0px;}
.mt100 {margin-top:100px;}
.loginItem input.txt {width:85%;font-size:30px;border-radius:10px;font-family: "微软雅黑";color:#bfbfbf;padding-left:70px;}
.userName,.userPsw,.userNickName {background:#fff url(../images/icos.png) no-repeat;background-size: 1.5em;}
.userName {background-position:0.433em -0.267em;}
.userPsw {background-position:0.433em -2.9333em;}
.userNickName {background-position:0.433em -5.533em;}
.btn {font-size:28px;font-family: "微软雅黑";height:70px;line-height: 70px;width:40%;border-radius:10px;}
.regbtn {width:100%;}
@media screen and (max-width:480px){
	.top {height:52px;line-height: 52px;}
	.goback {font-size:18px;height:38px;height:38px;top:8px;}
	.f36 {font-size:27px;}
	.loginItem {padding:40px 50px 0px;}
	.loginItem input.txt {font-size:23px;padding:7px 0 7px 53px;border-radius:7px;}
	.btn {font-size:21px;height:52px;line-height:52px;border-radius:7px;}
	.f24 {font-size:18px;}
	.mt100 {margin-top:75px;}
}

@media screen and (max-width:320px){
	.top {height:35px;line-height: 35px;}
	.goback {font-size:12px;height:25px;height:25px;top:5px;}
	.f36 {font-size:18px;}
	.f24 {font-size:12px;}
	.loginItem {padding:40px 50px 0px;}
	.loginItem input.txt {width:82%;font-size:15px;padding:5px 0 5px 35px;border-radius:5px;}
	.btn {font-size:14px;height:35px;line-height:35px;border-radius:5px;}
	.mt100 {margin-top:50px;}
}