/*********公共样式*************/
body,p,h1,h2,h3,h4,h5,h6,dl,dd,form{margin:0;font-weight:normal;-webkit-tap-highlight-color:rgba(255,255,255,0);}
body,button,input,select,textarea{font:12px/1.5 "微软雅黑";}
body {background-color:#eeeded;color:#7d7d7d;}
input,select {vertical-align:baseline;}
ul,ol,input{list-style:none; margin:0; padding:0;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block;}
em,i {font-style:normal;}
img {border:none;max-width: 100%;}
html{-webkit-text-size-adjust:none;}
p {word-break:break-all}
:focus,input{outline:none;}
.clearfix:after {content:".";visibility:hidden;display:block;clear:both;height:0;}
.clearfix {*zoom:1;}
.clear {clear:both;}
.fl {float:left;}
.fr {float:right;}
.fb {font-weight:bold;}
.tl {text-align:left;}
.tc {text-align:center;}
.tr {text-align:right;}
.hide {position:absolute;top:-999em;overflow:hidden;left:0;}
.show {position:static;}
.rela {position:relative;}
.abso {position:absolute;}
.blo {display: block;}
.inl {display: inline;}
.none {display:none;}
.f14 {font-size:14px;}
.f24 {font-size:24px;}

.c999 {color:#999;}
.cred {color:#f35b00;}
.cgreen {color:#549c01;}
body {padding:10px 0;}
.wrap {margin:0 10px;}